
@model CloudWebMVC.Models.User

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h3>Sign in</h3>
            @using (Html.BeginForm("SignIn", "SignUp", FormMethod.Post)) { 
                
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control"})
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @style = "margin-top: 10px;", @type = "password"})
                <div class="input-group" style="width: 100%; margin-top: 10px;">
                    <input type="submit" value="Sign in" class="btn btn-primary pull-right" style="margin-right: 40px;"/>
                </div>
            }
            <a style="font-size:12px; margin-top: 20px;" href="/Home/SignUp">Don't have an account yet? Sign up now!</a>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>